<h1>Our Team</h1>
<div class="row py-3">
    {{#each data}}
    <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="#team/{{id}}" class="text-decoration-none"
            onclick="loadDetails('team/{{id}}','details-template','content')">
            <img src="{{thumbpath}}" alt="{{name}}" class="rounded-4 mb-3 img-fluid">
            <h4 class="text-black">{{name}}</h4>
            <div class="text-black-50">{{summary}}</div>
        </a>
    </div>
    {{/each}}
</div>